body {
    min-height: 100vh;
    min-height: 100;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #14296a;
    background: linear-gradient(to bottom, #14296a, #4c4c64);
}

.separator {
width: 100%;
height: 1px;
background: rgba(255,255,255,0.2);
}

.top-nav {
display: flex;
align-items: center;
justify-content: space-between;
padding: 15px;
position: relative;
}

.hamburger {
font-size: 20px;
cursor: pointer;
margin-right: 10px;
}

.logo {
font-size: 40px;
font-weight: bold;
height: auto;
display: flex;
margin-right: auto;
}


.logo img {
    height: 40px;
    width: auto;
}

.icon {
font-size: 15px;
cursor: pointer;
margin-left: 10px;
}

#menu-toggle,
#search-toggle,
#profile-toggle,
#lang-toggle {
display: none;
}

/* START WITH ALL MENUS HIDDEN */
.toggle-menu,
.toggle-search,
.toggle-profile,
.toggle-lang {
display: none;
position: absolute;
background: #1a2f6b;
padding: 15px;
border-radius: 6px;
z-index: 20;
}

/* HAMBURGER MENU */
#menu-toggle:checked ~ .toggle-menu {
display: flex;
flex-direction: column;
gap: 5px;
top: 60px;
left: 10px;
width: 5em;
}

.menu-box a, .toggle-menu a {
    color: white;
    text-decoration: none;
    padding: 5px 0;
    font-weight: bold;
    font-size: 5px;
}

/* SEARCH BOX */

.right-icons {
    position: relative;
}

.toggle-search {
    display: none;
    position: absolute;
    top: -100%;
    right: 60px;
    background: #1a2f6b;
    padding: 10px;
    border-radius: 2px;
    margin-top: 5px;
}

.toggle-search input {
    padding: 2px 1px;
    border-radius: 2px;
    border: none;
    outline: none;
    width: 225px;
    height: 30px;
}

#search-toggle:checked ~ .toggle-search {
    display: block;
}
/* PROFILE BOX */
#profile-toggle:checked ~ .toggle-profile {
display: flex;
flex-direction: column;
gap: 10px;
right: 10px;
top: 60px;
}

.toggle-profile a, .profile-box a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* LANGUAGE BOX */
#lang-toggle:checked ~ .toggle-lang {
display: none;
flex-direction: column;
gap: 10px;
top: 50px;
}

#search-toggle:checked ~ .search-box {
display: block;
}

#lang-toggle:checked ~ .lang-box {
display: flex;
}

.lang-box{
    position: absolute;
    right: 20px;
}



.second-nav {
display: flex;
justify-content: center;
gap: 10px;
position: relative;
padding: 15px;
font-weight: bold;
font-size: 10px;
}

.second-nav a {
text-decoration: none;
color: white;
padding: 1px;
}

.lang-icon {
cursor: pointer;
margin-left: 2rem;
}

.content {
padding: 20px;
max-width: 900px;
margin: auto;
text-align: center;
}

.content h1 {
font-size: 15px;
margin-bottom: 20px;
text-align: left;
min-height: auto;
}

.ml img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.ml {
width: 100%;
background: #222;
border-radius: 10px;
margin-bottom: 20px;
}

.text-box {
background: #737aa4;
padding: 20px;
border-radius: 10px;
line-height: 1.6;
text-align: left;
}

.text-box p {
    font-size: .80rem;
}

footer {
display: flex;
justify-content: space-between;
padding: 20px;
align-items: center;
}

.footer-left {
    font-size: 10px;
    gap: 15px;
}

.footer-left a {
color: white;
margin-right: 10px;
text-decoration: none;
}

.footer-right {
    display: flex;
    gap: 15px;
}

.footer-right span {
font-size: 15px;
cursor: pointer;
}

@media (min-width: 700px) {
.logo { font-size: 2px; }
.content h1 { font-size: 32px; }
.image-placeholder { height: 300px; }
.text-box { font-size: 18px; }
}

@media (min-width: 1100px) {
.content { max-width: 1100px; }
.content h1 { font-size: 36px; }
.image-placeholder { height: 400px; }
  }
